@import url("https://fonts.googleapis.com/css?family=Lilita+One|Pangolin|Chewy&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
  height: 100%;
}

.container {
  z-index: -10;
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}
/*Sound menu stuff*/
.sndMenu {
  position: fixed;
  left: 0em;
  padding: 15px;
  width: 125px;
  height: 100%;
  background-color: rgb(31, 31, 31);
  color: rgb(212, 212, 212);
  font-family: Pangolin, sans-serif;
  z-index: -1;
  transition: 0.3s;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
}
.sndMenu.closed {
  left: -50px;
  height: 65px;
  overflow: hidden;
  border-radius: 15px;
}

.soundList {
  list-style: none;
  color: white;
  margin-top: 0;
  padding: 0;
}
.sndMenu.closed .soundList {
  display: none;
}

.soundItem {
  color: white;
  transition: 0.2s;
}

.soundItem:hover {
  transition: 0.2s;
  color: rgb(252, 77, 77);
  cursor: pointer;
}

.soundMenuOpener {
  color: rgb(212, 212, 212);
  font-size: 2em;
  transform: rotate(180deg);
}

.soundMenuOpener.closed {
  font-size: 4em;
  transform: rotate(0deg);
}

.arrowContainer {
  position: absolute;
  right: 15px;
  padding-left: 18px;
  top: 0;
  animation-duration: 1s;
  animation-name: hover;
  animation-iteration-count: infinite;
}
.sndMenu.closed .arrowContainer {
  left: 50px;
  top: 0;
}

@keyframes hover {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(5px);
  }
}
/*---------*/

/*Nav stuff*/
nav {
  -webkit-app-region: drag;
  display: flex;
  height: 50px;
  padding: 0px 5px;
  background-color: rgb(41, 41, 41);
  color: rgb(212, 212, 212);
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#currentLocation {
  padding: 0;
  margin: auto;
  text-align: center;
  font-family: Pangolin, sans-serif;
  width: 100%;
  position: fixed;
}

.rotBtn {
  transform: rotate(0);
  transition: 0.5s;
}

.rotBtn:hover {
  transform: rotate(90deg);
  transition: 0.5s;
  cursor: pointer;
}

.windowOpts {
  width: 100%;
  margin-right: 15px;
  position: relative;
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.winOpt {
  -webkit-app-region: no-drag;
  margin-left: 15px;
}

.hvrBtn:hover {
  transition: 0.2s;
  color: rgb(252, 77, 77);
  cursor: pointer;
}

nav h1 {
  font-family: "Lilita One", sans-serif;
  padding-left: 15px;
  letter-spacing: 2px;
}

.navIcon {
  margin-left: 5px;
  font-size: 1.5em;
}
/*---------*/

/*Option Stuff*/
.optMenu {
  overflow-y: hidden;
  max-height: 40vh;
  transition-property: all;
  transition-duration: 0.3s;
  position: relative;
  padding: 0;
  margin: 0 auto;
  background-color: rgb(31, 31, 31);
  color: white;
  width: 400px;
  height: 115px;
  border-radius: 5px;
  user-select: auto;
}
.optMenu.closed {
  max-height: 0vh;
}

.optionsList {
  margin-top: 20px;
  margin-bottom: 0;
  font-family: Pangolin, sans-serif;
  list-style: none;
  align-items: center;
  z-index: 1;
  overflow: visible;
}

.optItem {
  margin-top: 5px;
}

.optMenu h1 {
  margin: 0;
}

.closeOpt {
  position: relative;
  top: 5px;
  text-align: center;
  color: rgb(252, 77, 77);
  z-index: 1;
}

#closeOptBtn {
  font-size: 2em;
}
/*---------*/

/*Footer stuff*/
.mediaBtn {
  font-size: 2em;
}

footer {
  box-sizing: border-box;
  position: absolute;
  padding: 5px 15px;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Pangolin, sans-serif;
  background-color: rgb(41, 41, 41);
  color: rgb(212, 212, 212);
  box-shadow: 0px -3px 15px rgba(0, 0, 0, 0.4);
}

.conditions p {
  margin: 0;
}

.controls {
  text-align: center;
  padding: 0px 5px;
}
.controls h1 {
  font-size: 1em;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}

#current-condition {
  font-weight: bold;
  float: left;
}
/*---------*/
